<form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)" ngNativeValidate>
	<div fxLayout="column" fxLayoutGap="8px">
		<h3 fxFlexAlign="center">txtr.io</h3>
		<md-divider></md-divider>
		<md-input-container class="actions" floatPlaceholder="never">
			<input mdInput name="email" formControlName="email" placeholder="Email..." required>
		</md-input-container>

		<md-input-container class="actions" floatPlaceholder="never">
			<input mdInput name="password" formControlName="password" placeholder="Password.." type="passwprd" required>
		</md-input-container>
	</div>
	<br>
	<button md-raised-button color="primary" class="actions" type="submit">Submit</button>
	<br><br>
	<button md-button class="actions" type="button">Forgot Password?</button>
</form>