<mat-table class="mat-elevation-z8" #table [dataSource]="messageTypes">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- MessageID Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- To Column -->
    <ng-container matColumnDef="sendAfter">
      <mat-header-cell *matHeaderCellDef> Send After </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sendAfterHour}} </mat-cell>
    </ng-container>
  
    <!-- PortalCode Column -->
    <ng-container matColumnDef="sendBefore">
      <mat-header-cell *matHeaderCellDef> Send Before </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sendBeforeHour}} </mat-cell>
    </ng-container>
  
    <!-- ScheduledTime Column -->
    <ng-container matColumnDef="template">
      <mat-header-cell *matHeaderCellDef> Template </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.template}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>