<mat-card>
  <mat-card-header>
    <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
    <mat-card-subtitle *ngIf="email != undefined">{{email}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="email == undefined">Not Available</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      ID: {{id}}<br>
      Phone: {{phoneNumber}}<br>
      Timezone: {{timezone}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="nS.navigateToCustomerTextsPage(id)">VIEW TEXT COMMUNICATION</button>
  </mat-card-actions>
</mat-card>