<mat-toolbar>
  <p class="title">--- txtr.io --- </p>
  <mat-nav-list>
    <a mat-list-item disableRipple="true" (click)="nS.navigateToSentTextsPage()">Sent Texts</a>
    <a mat-list-item disableRipple="true" (click)="nS.navigateToQueuedTextsPage()">Queued Texts</a>
    <a mat-list-item disableRipple="true" (click)="nS.navigateToTextsTypePage()">Text Types</a>
  </mat-nav-list>
  <span fxFlex></span>
  
  <button mat-raised-button color="primary" (click)="loginLogout()">
    {{loginLogoutText}}
  </button>
</mat-toolbar>