<md-toolbar>
  <p class="title">--- txtr.io --- </p>
  <md-nav-list>
    <a md-list-item disableRipple="true" (click)="navigationService.navigateToSentTexts()">Sent Texts</a>
    <a md-list-item disableRipple="true" (click)="navigationService.navigateToQueuedTexts()">Queued Texts</a>
    <a md-list-item disableRipple="true" (click)="navigationService.navigateToTextTypes()">Text Types</a>
  </md-nav-list>
  <span fxFlex></span>
  
  <button md-raised-button color="primary" (click)="loginLogout()">
    {{loginLogoutText}}
  </button>
</md-toolbar>