<div fxLayoutAlign="center" class="example-header">
  <mat-form-field floatPlaceholder="never">
    <input matInput #filter placeholder="Filter users">
  </mat-form-field>
</div>

<mat-table class="mat-elevation-z8" #table [dataSource]="messages">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- MessageID Column -->
  <ng-container matColumnDef="messageId">
    <mat-header-cell *matHeaderCellDef> MessageID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.messageId}} </mat-cell>
  </ng-container>

  <!-- To Column -->
  <ng-container matColumnDef="to">
    <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.toNumber}} </mat-cell>
  </ng-container>

  <!-- PortalCode Column -->
  <ng-container matColumnDef="templateVars">
    <mat-header-cell *matHeaderCellDef> Template Vars </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.templateVars | json}} </mat-cell>
  </ng-container>

  <!-- ScheduledTime Column -->
  <ng-container matColumnDef="sendAt">
    <mat-header-cell *matHeaderCellDef> Send At </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.sendAt | date}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>