@import "/../../../theme";

.filter-container {
    width: 150px;
    height: fit-content;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    background-color: #212121;
}

.filter-container mat-form-field {
    width: 125px;
}

.filter-header {
    color: white;
    vertical-align: middle;
    font-size: 18px;
    display: inline;
}

.filter-field {
    width: 100%;
}

.icon-search {
    vertical-align: middle;
}

button {
    width: 100%;
}