<mat-card class="filter-container">
        <mat-card-header>
                <mat-card-title>
                        <mat-icon class="icon-search">search</mat-icon> <h1 class="filter-header"> Filters</h1>
                </mat-card-title>
        </mat-card-header>
        <mat-form-field>
            <input matInput placeholder="by Name">
        </mat-form-field>
        <mat-form-field>
                <input matInput placeholder="by Phone">
        </mat-form-field>
        <mat-form-field>
                <label for="datepicker">From Date</label>
                <!-- <input matInput [matDatepicker]="datepicker" placeholder="DD/MM/YYYY">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker> -->
        </mat-form-field>
        <mat-form-field>
                <input matInput placeholder="by Timezone">
        </mat-form-field>
</mat-card>
