@import '~@angular/material/_theming';

@include mat-core();

$primary: mat-palette($mat-blue, 500);
$accent: mat-palette($mat-green, 500);

// $primary: mat-palette($mat-red, 400); RED & GREY LIKE OSU
// $accent: mat-palette($mat-grey, 400);

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);

.dark-theme {
  $dark-primary: mat-palette($mat-light-blue);
  $dark-accent: mat-palette($mat-green);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent);
  
  @include angular-material-theme($dark-theme);
}

snack-bar-container {
    &.errorSnackBar, &.successSnackBar {
        height: auto; 
        min-width: initial;
    }

    &.errorSnackBar {
        background: red;
    }   
 
    &.successSnackBar {
        background: green;
    }
}

html, body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
  background: #363434;
}