<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="messages">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.messageId}} </md-cell>
    </ng-container>

    <!-- From Column -->
    <ng-container mdColumnDef="from">
      <md-header-cell *mdHeaderCellDef> From </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.fromNumber}} </md-cell>
    </ng-container>

    <!-- To Column -->
    <ng-container mdColumnDef="to">
      <md-header-cell *mdHeaderCellDef> To </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.toNumber}} </md-cell>
    </ng-container>

    <!-- PortalCode Column -->
    <ng-container mdColumnDef="portalCode">
      <md-header-cell *mdHeaderCellDef> PortalCode </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.templateVars.portalCode}} </md-cell>
    </ng-container>

    <!-- ScheduledTime Column -->
    <ng-container mdColumnDef="scheduledDate">
      <md-header-cell *mdHeaderCellDef> ScheduledDate </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.templateVars.scheduledTime.date} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>